{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static '/css/posts/allPosts.css'%}">
    {% with 'jch' as list %}
{% if tag %}
<h3 align="center"> Posts with tag "{{tag}}" are displayed below: </h3> <br/>
{% endif %}
    <div class="wrapper">
{% for post in posts %}
        <div class="box {{ list | random}}">
            <div class="date-box">{{post.breach_date}} </div>
            <a href="{% url 'post' post.slug %}" class="h2">{{post.title}} </a>
            <div class="content"> {{post.content|truncatewords:100}} </div>
        </div>
{% endfor %}
   </div>
   {% include 'paginator.html' with paginator=posts %}
   {% endwith %}
<br/>

{% endblock %}