{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static '/css/posts/allPosts.css'%}">
<form action="{% url 'update' post.slug %}" method="post" role="form" id="editPostForm">
  {% csrf_token %}
  <div class="container">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <legend><span class="glyphicon glyphicon-pencil"> </span>  Edit Post </legend>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <label for="title">Title of the Post:</label>
          <textarea  class="form-control" rows="1" name="title" form="editPostForm" autofocus>{{post.title}} </textarea>
          <label for="content">Content of the Post: </label>
          <textarea class="form-control" rows="8" name="content" form="editPostForm" >{{post.content}} </textarea>
          <label for="dateOfbreach">Date of the breach:</label> <br/>
          <input type="text"  class ="form-control" name="breach_date" size="20" value= {{date}} maxlength='50' size="25">
          <label for="sourceURL">Link to the Source:</label> <br/>
          <textarea class="form-control" rows="3" name="source_url" form="editPostForm"> {{post.source_url}} </textarea>
          <span><label for="tags">Tags:</label> <p style="display:inline"> *Use commas to separate the tags, such as "java jsf primefaces" </p> </span><br/>
          <input type="text" class ="form-control" name="tags" size="20" value={{tags}} maxlength='50' size="25"> <br/>
          <a class="btn btn-default pull-right" data-toggle="modal" href="" > Cancel </a>
          <a class="btn btn-primary btn-default pull-right" data-toggle="modal" data-target="#confirm" > Save Changes</a>
        </div>

          <div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="contactLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body">
                  <span class="glyphicon glyphicon-info-sign"></span> Are you sure you want to make these changes to the post?</h4>
                </div>
                <div class="modal-footer">
                  <button style="float: right;" type="button" class="btn btn-default btn-close" data-dismiss="modal">No</button>
                  <input type="submit" class="btn btn-primary pull-right" value="Yes"/>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</form>
<br/><br/><br/>
{% endblock %}

