{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>

    body {
  background-color: #ececeb;
  padding
}

h4 {
    color: black;
    font-family:Times New Roman;
    font-weight: 600;
}

h1 {
       color: black;
    font-family:Times New Roman;
    font-weight: 600;
}

    .container {
        font-color: black !important;
    }
</style>



<div class="container">
<h1> {{record.company_name}} </h1>
<h4> Date:   {{record.date_made_public}} </h4>
    <h4> Location: {{record.location}} </h4>
    <h4> Total number of records breached: {{record.numberOf_records_breaches}} </h4>
    <h4> Information Source: {{record.info_source}} </h4>
    <h4> Breach Type: "Portable Device Breach" </h4>
    <br/>
    {{ record.description }}

</div>
     {% endblock %}