  body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: #818181;
  }
  h2 a{
      font-size: 19px;
      color: #feb22f;
      font-weight: 600;
      margin-bottom: 30px;
  }

  h4 {
      font-size: 15px;
      line-height: 1.375em;
      color: #fff;
      font-weight: 400;
      margin-bottom: 7px;
  }
  .jumbotron {
      background-color: #fff;
      color: #fff;
      padding: 100px 25px;
      font-family: Montserrat, sans-serif;
  }
  .container-fluid {
      padding: 60px 50px;
  }
  .bg-grey {
      background-color: #f6f6f6;
  }
  .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }

  .navbar {
      position: absolute;
      margin-bottom: 10px;
      background-color: #000;
      z-index: -1;
      border: 0;
      font-size: 12px !important;
      line-height: 3 !important;
      letter-spacing: 3px;
      border-radius: 0;
      font-family: Liberation, sans-serif;
      margin-top: 35px;
      min-height: 40px;
  }

  .logo {
      position: absolute;
      // Use your own values for anything below this line.
      z-index: 9999;
      left: 35px;
      top: 6px;
      width: 300px;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
      margin-top: 0px;
      padding-top:10px !important;
      padding-bottom:10px !important;
  }

  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #f4511e !important;
      background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }

  .navbar-inverse {
      margin-bottom: 0px;
      background-color: #feb22f;
      font-size: 13px !important;
      letter-spacing: 2px;
      font-weight: bold;
      font-family: Liberation, sans-serif;
      margin-top: 80px;
  }

    .navbar-inverse li a, .navbar-inverse li {
      color: #000 !important;
      margin-top: 0px;
      padding-top:5px !important;
      padding-bottom:5px !important;
      margin-right: 5px;
      margin-left: 0px;
  }

   .navbar-inverse li p {
         margin-left: 32px !important;
   }

   .glyphicon-search {
    padding-bottom: 5px !important;
   }


  .caret {
    margin-top: 7px !important;
    margin-left: 0px !important;
  }

  .footer {
      font-size: 20px;
      min-height: 100px;
      background-color: #000;
      width: 100%;
  }

  .input-group {
    padding-right: 6px;
    padding-left: 16px;
}

  .slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
        width: 50px;
    }
  }