{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static '/css/curateGoogleAlerts/curation.css'%}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

<div class="container">
    <div class="with-nav-tabs">
        <ul class="nav nav-tabs" id="myTab" data-tabs="tabs">
            <li class="active"><a data-toggle="tab" href="#alerts" style="background-color:black;color:#feb22f;">Google Alerts</a></li>
            <li><a data-toggle="tab" href="#userposts" style="background-color:#feb22f; color:black;">User Submitted Posts</a></li>
        </ul>
    </div>
    <div class="tab-content">
        <div id="alerts" class="tab-pane fade in active">
            <form class="form-inline"> {% csrf_token %}
                <div class="table-responsive table-bordered">
                    <table class="table">
                        {% with count=0 %}
                        {% for key,value in messages.items %}
                        <tr id={{key}}>
                            <td> {{ value.0 }} <br/>
                                <a href= {{ value.1 }} target="_blank"> View full news </a>
                                <button type="button" id ="deleteAlert_{{forloop.counter0|add:count}}" value={{key}} class="btn btn-danger btn-sm pull-right"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                                <a href="{% url 'createPost' key %}"><button type="button" id ="acceptAlert_{{forloop.counter0|add:count}}" value="Accept" class="btn btn-success btn-sm pull-right"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button></a>
                            </td>
                        </tr>
                        {% endfor %}
                        {% endwith %}
                    </table>
                </div>
            </form>
        </div>
        <div id="userposts" class="tab-pane fade">
            {% if user_posts %}
            <form class="form-inline"> {% csrf_token %}
                <div class="table-responsive table-bordered">
                    <table class="table">
                        {% with count=0 %}
                        {% for post in user_posts %}
                        <tr id={{post.id}}>
                            <td>  <p style="color:black;"> Submitted By: <strong>{{post.create_user.username}}</strong> </p>
                                <p>{{ post.title }} </p>
                                <a href= {{post.source_url}} target="_blank"> View provided source link </a>
                                <button type="button" id="deletePost_{{forloop.counter0|add:count}}" class="btn btn-danger btn-sm pull-right" value={{post.id}}><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                                <a href="{% url 'createUserPost' post.id %}"><button type="button" id ="acceptPost_{{forloop.counter0|add:count}}" value="Accept" class="btn btn-success btn-sm pull-right"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button></a>
                            </td>
                        </tr>
                        {% endfor %}
                        {% endwith %}
                    </table>
                </div>
            </form>
            {% else %}
            <p> There are no user submitted posts </p>
            {% endif %}
        </div>
    </div>
</div>

<script src="{% static '/js/curation.js'%}"></script>
<script src="{% static '/js/base.js'%}"></script>
{% endblock %}
