{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static '/css/curateGoogleAlerts/pwnedCheck.css'%}">
<h3> Has your email account been compromised as part of a cyber breach ? </h3>
<br/>
<div class="container" align="center">
    <form class="form-horizontal"> {% csrf_token %}
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Enter your email address here" id="email">
            <span class="input-group-btn">
        <button class="btn btn-warning btn-md" type="button" id="button">Find Breaches</button>
   </span>
        </div>
    </form>
    <div class="courtesy" align="right">(Powered By: <a href="https://haveibeenpwned.com/" target="_blank">https://haveibeenpwned.com/</a> )
    </div>
    <br/> <br/>
    <div class="resultTitle">
    </div>
    <div class="pwnedTitle">
    </div>
    <div class="breachResult">
    </div>
</div>
<script src="{% static '/js/pwnedCheck.js'%}"></script>
<script src="{% static '/js/base.js'%}"></script>
{% endblock %}