{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
p{
margin-left: 20%;
margin-right:20%;
color: black;
font-size: 17px;
}
</style>
<br>

<p align="center">
    <a href="https://www.summersco.us/#welcome" target="_blank"><img src="{% static '/images/summers_co_logo.png' %}" width="350" height="250"> </a> <br/> <br/>
    <strong> WikiBreach is dedicated to doing social good through sharing cyber breach information with the public.<br/> As a social enterprise, WikiBreach accepts donations and applies commercial strategies to maximize our ability to provide this service to the public.</strong>
</p> <br/>
<a href="https://secure.squarespace.com/commerce/donate?donatePageId=5756230be707eb20ecef2b5c"><button class="btn btn-primary btn-sm center-block" data-toggle="modal" type="button"> Donate to WikiBreach </button></a>
{% endblock %}

