{% load static %}
<html lang="en">
<head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>WikiBreach</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static '/js/base.js'%}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static '/css/base.css'%}">
</head>

<body id="myPage">
<a class="logo" href="{% url 'posts'%}"> <img src="{% static '/images/logo.png' %}" width="300" height="70"></a>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'posts'%}">Home</a></li>
                <li><a href="{% url 'aboutUs'%}">About Us</a></li>
                <li><a href="{% url 'contactUs'%}">Contact Us</a></li>
                <li><a href="{% url 'contribute'%}">Be a Contributor</a></li>
            </ul>
        </div>
    </div>
</nav>

<nav class="navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar2">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar2" id="myNavbar2">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'pwnedCheck' %}"> Have you been breached? Click to Find out </a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a class="btn btn-default" href="{% url 'search'%}"><span class="glyphicon glyphicon-search">&nbsp; Search</span></a></li>
                {% if request.user.is_authenticated %}
                <li><p>{{request.user.username}}</p></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% if request.user.username == "Administrator" %}
                        <li><a href="{% url 'getAlerts' %}">Curate google alerts/user posts</a></li>
                        {% endif %}
                        <li><a href="{% url 'logout' %}">Log Out</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<br/><br/>
{% block content %}
{% endblock%}
<br/><br/>
<div class="footer">
    <div class="container" align="left" role="navigation">
        <div class="row">
            <form class="form-inline" method="post" role="form" id="subscribeForm" action="{% url 'subscribe'%}">
                {% csrf_token %} {{ form.errors }}
                {{ form.non_field_errors }}
                <div class="col-md-4">
                    <h4> Subscribe to breach updates: </h4>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i></span>
                            <input type="text" class="form-control input-sm" name="email" id="email"  placeholder="Enter your Email"/>
                        </div>
                        <button type="submit" class="btn btn-default btn-sm" style="background-color:#428bca;color:white;">Subscribe</button>
                    </div>
                </div>
            </form>
            <div class="col-md-6">
                <h4 align="center"> Powered By:</h4>
                <div class="footer_link" align="center" style="font-size: 17px;"> <a href="https://www.summersco.us/#welcome" target="_blank" style="color:#feb22f;">Summers & Company </a> <h4 style="display:inline;"> and  </h4><a href="https://twitter.com/HowHackersThink" target="_blank" style="color:#feb22f;"> @HowHackersThink</a></div>
            </div>
            <div class="col-md-2">
                <span class="inline"> <h4 align="right">Follow us: &nbsp; <a href="https://twitter.com/HowHackersThink" target="_blank"><button class="btn btn-social-icon btn-twitter" style="background-color:white; display: inline-block;"> <i class="fa fa-twitter" style="font-size:20px"></i></button></a> </h4></span>
            </div>
        </div>
    </div>
</div>
</body>
</html>